.footer {
	display: flex;
	width: 100%;
	justify-content: center;
	
	.js-back-to-top{
		width:48px;
		height:48px;
		background:olive;
		border-radius: 100%;
		border:1px solid #D2233C;
		background: url(../images/arrow_up.svg) no-repeat center center transparent;
		position: fixed;
		right: 48px;
		bottom: 48px;
		cursor: pointer;
		opacity: 0;
		transition: all .5s ease-in-out;

		&.is-shown{
			opacity: 1;
			
		}

		@include mobile {
			width:30px;
			height:30px;
			background-size: 15px 15px;
			right: 20px;
			bottom: 20px;
		}
	}
}

