.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 100px;
	z-index: 2100;
	display: flex;
	align-items: center;
	justify-content: right;
	//background-color: $color-white;
	margin: 0 auto;

	&__menu {
		display: flex;
		background:#fafafa;

		&.is-hidden{
			display: flex !important;
		}

		@include mobile {
			display: none;
			padding: 60px 40px 235px;
			background: url(../images/time.svg) no-repeat center bottom #fafafa;

			&.is-active{
				display: flex;
				width: 100%;
			}

			&.is-hidden{
				display: none !important;
			}
		}
	}

	&__list {
		text-align: right;
		position: relative;
		
		&__hover{
			background: url(../images/line_1.svg) no-repeat center center transparent;
			position: absolute;
			width: 104px;
			height: 156px;
			top: -101px;
			z-index: 0;
			display: block;
			left: 7px;
			
			@include mobile {
				background-image: url(../images/line_1_mobile.svg);
				top: -29px;
				left: 19px;
				width: 48px;
				height: 70px;
			}
		}

		@include mobile {
			display: flex;
			width: 100%;
			flex-direction: column;
		}
	}

	&__link {
		position: relative;
		display: inline-flex;
		justify-content: center;
		margin: 0 2px 0 30px;
		font-size: 18px;
		text-align: center;
		color: #282A33;
		font-family: $font-third;
		z-index: 1;

		@include mobile {
			margin: 0 0 40px 0;
			justify-content: flex-start;
			font-size: 26px;
			line-height: 31px;
		}
	}

	&__burger {
		position: absolute;
		cursor: pointer;
		background: url(../images/menu_burger.svg) no-repeat center center #fafafa;
		width: 26px;
		height: 21px;
		top: 30px;
		right: 20px;
		display: none;

		&.is-active{
			background: url(../images/menu_burger_close.svg) no-repeat center center transparent;
			transition: $duration-normal;
			z-index: 10;
			height: 21px;
		}

		@include mobile {
			display: block;
		}
	}

	@include desktop {
		padding: 0 20px;
		max-width: 1180px;
	}

	@include tablet {
		padding: 0 20px;
		max-width: 100%;
	}

	@include mobile {
		top:0;
	}
}
