-
	const data = {
		header: {
			links: {
				logo: 'https://ninelines.agency/',
			},
			menu: [
				{
					url: '#summary',
					name: 'Резюме'
				},
				{
					url: '#about',
					name: 'О себе'
				},
				{
					url: '#skills',
					name: 'Навыки'
				}
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'vk', 'tg'],
		},

		home: {
			caption: 'Поделиться:',
			candidate: {
				name: 'Имя кандидата',
				post: 'Желаемая позиция',
				text: 'Как разработчик, я высоко ценю способность воплотить видение дизайнера в жизнь, что считаю очень полезным для бизнеса. Я получаю огромное удовлетворение, наблюдая за работой от идеи до дизайна, особенно когда она появляется в руках пользователя. Я считаю, что ориентированные на пользователя решения являются наиболее ценными цифровыми ресурсами будущего.'
			},
		},

		work_exp: [
			{
				data: 'Июль 2019',
				post: 'Freelance Designer',
				post_ico: [1, 2, 3],
				location: 'Netherlands, Worldwide',
				text: 'Available for a project or job in UX/UI, Visual and Product design.',
				links: [
					{
						text: 'Commercial tryouts',
						href: '#',
					},
					{
						text: 'Personal projects',
						href: '#',
					}
				]
			},
			{
				data: 'Январь 2017 - Сентябрь 2018',
				post: 'Digital Designer',
				post_ico: [2, 4],
				ico: './images/logo_comp1.svg',
				name: 'J Creative Solutions',
				location: 'Digital agency in Minsk, Belarus',
				text: 'Created visuals for digital marketing channels such as social media, promo web and online ads. Developed visual language from scratch or following the branding guidelines. Designed presentations for clients and indoor purposes.',
				links: [
					{
						text: 'Agency projects',
						href: '#',
					}
				]
			},
			{
				data: 'Март 2014 - Февраль 2017',
				post: 'SEO Specialist → Lead SEO Specialist',
				post_ico: [5, 2],
				ico: './images/logo_comp2.svg',
				name: 'OZ.by',
				location: 'Online bookstore in Minsk, Belarus',
				text: 'Improved website performance and user experience of the biggest online bookstore OZ in Belarus, being a part of the marketing team, I interpreted Google Analytics data to IT, content and marketing colleagues. Advised on tech and content optimization strategy, automated processes, provided reports, increased organic traffic up to 150%.',
				links: [
					{
						text: 'Annual company report 2016',
						href: '#',
					}
				]
			},
			{
				data: 'Август 2012 - Ноябрь 2013',
				post: 'Content Specialist',
				post_ico: [5],
				ico: './images/logo_comp3.svg',
				name: '21vek.by',
				location: 'E-commerce store in Minsk, Belarus',
				text: 'Added and modified the product information, prepared images and text for the website, developed categories filters, ensure all info is correct in the catalogue with the goal of improving online shopper experience.',
			},
			{
				data: 'Август 2011 - Ноябрь 2014',
				post: 'Software Support Engineer',
				post_ico: [6],
				ico: './images/logo_comp4.svg',
				name: 'Integral',
				location: 'Microelectronics factory in Minsk, Belarus',
				text: 'Supported retail accounting system LS Trade, troubleshoot technical problems.',
			},
		],

		edu: [
			{
				ico: [4, 1, 2],
				spec: 'Interface Design: Web & Mobile',
				school: ['IT-Academy, 2020'],
			},
			{
				ico: [2],
				spec: 'Fundamentals of Usability',
				school: ['Skillshare, Oct 2018'],
			},
			{
				ico: [3],
				spec: 'CG Artist',
				school: ['Polygon CG School, <span>May-Sep 2017</span>'],
			},
			{
				ico: [4],
				spec: 'Graphic Design',
				school: ['Belarusian State Academy of Arts, 2015 - 2017 <span>Postgraduate Diploma</span>'],
			},
			{
				ico: [5],
				spec: 'SEO Specialist',
				school: ['ARTOX Media, <span>Jun-Aug 2012</span>'],
			},
			{
				ico: [6],
				spec: 'Information Technology Software',
				school: [
					'Belarusian State University of Informatics and Radioelectronics, 2011 - 2015 <span>Bachelor’s degree<span>',
					'Polotsk State Economic College, 2007 - 2011 <span>Associate’s degree</span>'
				],
			},
		],

		skills: [
			{
				title: 'Adobe Creative Suite',
				text: 'Photoshop, Illustrator, InDesign, XD, After Effects'
			},
			{
				title: 'Prototyping',
				text: 'Sketch, Figma, InVision, Marvel, Principle, Balsamiq'
			},
			{
				title: 'Additional',
				text: 'HTML, CSS, Google Analytics, Keynote, Miro'
			},
			{
				title: 'Languages',
				text: 'Conversational English and Native Russian'
			},
		],

		modal: {
			close: 'Закрыть',
		},
	};


