extends pug/base

prepend vars

append vars
	- title = 'Эмиль Аюпов - Тестовое задание'
	- meta.ogImage = `${baseDir}images/share_img.png`
	- meta.ogTitle = `Эмиль Аюпов - Тестовое задание`

block content
	include pug/data

	.container
		include pug/components/header

		include pug/pages/home

		include pug/components/footer

	include pug/components/analytics
